body{
	margin: 0;
	
}
.full_container{
	width:100%;
    
}
.header_section{
	width: 100%;
	background-color: #1d0239;
	height: 100px;
}

h1{
	color: white;
	text-align: center;
	position: relative;
	margin: 0;
	padding-top: 30px;
}	
.real_container{
	width: 100%;
 
	background: url(ccsit.jpg) no-repeat;
	background-size: 100% ;
	
}

h2{
	text-align: center;
	margin-top: 0;
	padding-top: 10px;
}
th,td{
    border-radius: 25px;
    font-size: 24px;
    padding: 5px;
}
th{
	background-color: #FAEBD7;
}
td{
	background-color: #F0FFFF;
}
table{
	width: 90%;
    border-spacing: 20px;


}
td{
	text-align: center;
}
caption{
	font-size: 18px;
}
.end_section{
	padding-top: 10px;
	width: 100%;
	background-color: #1d0239;
	height: 100px;
}
p{
	text-align: center;
	color: white;
}
.button{
    
	width: 30%;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	background-color: #ff04a7;
    text-align: center;
    
}
a{
	color: white;
	text-decoration: none;
}
.button a:hover , .button a:focus{
    text-decoration: none;
}
